body{
	background-color: #2A2A2A  ;
}

.main-div{
	margin-top: 3%;
	width: 100%;
	text-align: center;
	color: #CD8E3C;
	font-family: 'NOVA FLAT';
}
.feature{
	margin-left:5%;
	color: #CD8E3C;
	font-family: 'NOVA FLAT';
	margin-top: 5%;
}
p{
	font-size:  1.5em;
}