body{
	color:  white;
}
.profile{
	margin-left: 5%;
	margin-top: 5%;
	border : 1px solid #484540      ;
	background-color:#484540    ;
	margin-right: 5%;
	border-radius: 5px;
	padding-left: 2%;
	padding-top: 2%;
}
p{
	font-size: 2em;
}