<!DOCTYPE html>
<html>
<head>
	<title>Book Trades Site</title>
  	<link rel="icon"  href="https://d3525k1ryd2155.cloudfront.net/bookseller_images/1711708-logo.jpg">
  	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<script type="text/javascript" src='/script/common.js'></script>
  	<link rel="stylesheet" type="text/css" href="/styles/signup.css">
  	<script type="text/javascript" src='/script/login.js'></script>
</head>
<body>
	<div id="nav">
	</div>

	<div class="main-div container">
		
		<h2> Login</h2>
		<p>Email </p>
		<input type="email" id="name">
		<p> Password </p>
		<input type="password" id="password"><br>
		<button class="btn btn-primary btn-lg" style="margin-top: 1%" onclick="login()">Login</button>
		
	</div>


</body>
</html>