<!DOCTYPE html>
<html>
<head>
	
  <meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="icon"  href="https://d3525k1ryd2155.cloudfront.net/bookseller_images/1711708-logo.jpg">
  	<meta charset="utf-8">
 	 <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<script type="text/javascript" src='/script/common.js'></script>
    <script type="text/javascript" src='/script/profile.js'></script>
  	<link rel="stylesheet" type="text/css" href="/styles/books.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
     <link rel="stylesheet" type="text/css" href="/styles/profile.css">

    <link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
</head>
<body>
	<div id="nav">  </div>
	<div id="mySidenav" class="sidenav"></div>
	<h1  style="text-align: center ; font-family: 'Nova Flat'"> Profile</h1>
	<div class="profile">
		<p> <strong> Name </strong> : <span id="name" style="font-family: 'Dekko'"></span> </p>
		<p> <strong> Email </strong> : <span id="email" style="font-family: 'Dekko'"></span> </p>
		<p> <strong> Age </strong> : <span id="age" style="font-family: 'Dekko'"></span> </p>
		<p> <strong> Address </strong> : <span id="address" style="font-family: 'Dekko'"></span> </p>
		<p> <strong> City </strong> : <span id="city" style="font-family: 'Dekko'"></span> </p>
	</div>

</body>
</html>