<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  	<script type="text/javascript" src='/script/common.js'></script>
  	<link rel="stylesheet" type="text/css" href="/styles/signup.css">
  	<link rel="stylesheet" type="text/css" href="/styles/common.css">
  	<script type="text/javascript" src='/script/settings.js'></script>

  	<link href='https://fonts.googleapis.com/css?family=Nova Flat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>

</head>
<body>
	<div id="nav">
		
	</div>
		<div id="mySidenav" class="sidenav"></div>
	<div class="main-div container">
		<h2> Update Profile</h2>
		<p> Name</p>
		<input type="text" id="name">
		<p> Age </p>
		<input type="text" id="age">
		<p> Address </p>
		<input type="text" id="state">
		<p>City </p>
		<input type="email" id="city">
		<br>
		<button class="btn btn-primary btn-lg" style="margin-top: 1%" onclick="update()">Update</button>

		<h3> Change Password </h3>
		<p> Current Password </p>
		<input type="Password" id="curpass">
		<p> New Password</p>
		<input type="Password" id="newpass"><br>
		<button class="btn btn-primary btn-lg" style="margin-top: 1%" onclick="updatepass()">Update</button>

	</div>

</body>
</html>