<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Trades Site</title>
  <link rel="icon"  href="https://d3525k1ryd2155.cloudfront.net/bookseller_images/1711708-logo.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src='/script/common.js'></script>
  <script type="text/javascript" src='/script/signup.js'></script>
  <link rel="stylesheet" type="text/css" href="/styles/signup.css">


</head>
<body>

<div id="nav">
</div>

<div class="main-div container">
	<h1> SIGN UP  </h1>
	
		<p>Name  </p>
		<input type="text" id="name" >
		<p style="color: red" id="reqname"> Name required * </p>
		<p>Email  </p>
		<input type="email" id="email" >
		<p style="color: red" id="reqemail"> Email required * </p>
		<p> Password  </p>
		<input type="password" id="password" >
		<p style="color: red" id="reqpass"> Password must be at least 3 characters* </p>
		<p> Confirm Password  </p>
		<input type="password" id="con-password" >
		<p style="color: red" id="reqconpass"> This field is * </p>
		<br>
		<button onclick="submit()" class="btn btn-primary btn-lg" style="margin-top: 1%"> Sign Up</button>
	
</div>


</body>
</html>
